<!DOCTYPE html>
<!-- {% load static %} -->
{% load render_bundle from webpack_loader %}
<html>

<head>
  <title>Tapingo Twitter Assignment</title>
  {% render_bundle 'main' 'css' %}
  <!-- <link rel="stylesheet" href="{% static "main.css" %}"> -->
</head>

<body>
  <div id="root"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <!-- <script src="{% static "js/dist/main.js" %}"></script> -->
   {% render_bundle 'main' 'js' %}
</body>

</html>